@media (max-width: 1220px) {

	.describe-item {
		h2 {
			text-align: center;
		}
	}

	.portfolio-describe-item {
		&__container-for-buttons {
			a {
				width: 360px;
			}

			.portfolio-describe-item__arrow-left {
				left: 7px;
			}

			.portfolio-describe-item__arrow-right {
				right: 7px;
			}
		}

		&__text {
			text-align: center;
		}

		&__container-base-caption {
			margin: 0 auto;
		}

		&__container-color-solution {
			margin: 0 auto;
		}

		&__container-color-solution-describe {
			flex-direction: column-reverse;
			align-items: center;
		}

		&__container-color-solution-text-container {
			max-width: 750px;
			margin: 0;
		}

		&__container-color-solution-image-container {
			// margin: 0;
		}

		&__organic-food-website-development-background-1 {
			background: url(../styles/images/describeItems/organic-food-website-development/preview12_tablet.png) no-repeat center center;
			height: 640px;
		}

		&__organic-food-website-development-background-2 {
			width: 750px;
			height: 450px;
		}

		&__organic-food-website-development-background-3 {
			background: url(../styles/images/describeItems/organic-food-website-development/desk_main_computer_tablet.png) no-repeat center center;
			height: 2430px;
		}


	}
}

@media (max-width: 780px) {
	.portfolio-describe-item {
		&__container-for-buttons {
			a {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
}

@media (max-width: 760px) {
	.portfolio-describe-item {

		&__container-for-buttons {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 50px;

			a {
				font-size: 14px;
				text-align: center;
				margin-bottom: 10px;
				width: 300px;
				padding: 0 25px;
			}
		}

		&__organic-food-website-development-background-1 {
			background: url(../styles/images/describeItems/organic-food-website-development/preview12_phone.png) no-repeat center center;
			height: 256px;
		}

		&__organic-food-website-development-background-2 {
			width: 320px;
			height: 180px;
		}

		&__organic-food-website-development-background-3 {
			background: url(../styles/images/describeItems/organic-food-website-development/desk_main_computer_phone.png) no-repeat center center;
			height: 5022px;
		}
	}
}